<nav class="navbar navbar-expand-lg fixed-top premium-navbar">
  <div class="container">
    <!-- Logo -->

    <a class="navbar-brand" href="#home">
      <span class="logo-symbol angular-logo">
        <i class="devicon-angular-plain"></i>
      </span>

      <span class="logo-name"> Prashanth Abbu </span>
    </a>

    <!-- Mobile Toggle -->

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#portfolioNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navigation -->

    <div class="collapse navbar-collapse" id="portfolioNavbar">
      <ul class="navbar-nav ms-auto align-items-lg-center">
        <li class="nav-item">
          <a class="nav-link active" href="#home"> Home </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#about"> About </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#skills"> Skills </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#experience"> Experience </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#projects"> Projects </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#education"> Education </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#contact"> Contact </a>
        </li>
      </ul>

      <a href="resume/Prashanth Abbu Frontend.pdf" target="_blank" class="btn resume-btn ms-lg-4">
        Download Resume

        <i class="bi bi-download"></i>
      </a>
      <!-- <a href="#contact" class="btn resume-btn ms-lg-4">
        Let's Talk

        <i class="bi bi-arrow-up-right"></i>
      </a> -->
    </div>
  </div>
</nav>
