@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import url("https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css");

:root {
  --bg-dark: #070b16;
  --bg-dark-2: #0d1324;

  --text-primary: #ffffff;
  --text-secondary: #a7b0c3;

  --primary: #6c63ff;
  --secondary: #00d4ff;

  --gradient: linear-gradient(135deg, #6c63ff, #00d4ff);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  font-family: Inter, 'Segoe UI', Roboto, Arial, sans-serif;

  background: var(--bg-dark);

  color: var(--text-primary);
}

* {
  box-sizing: border-box;
}

section {
  scroll-margin-top: 80px;
}
